[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
python-dateutil = "*"
pandas = "*"
matplotlib = "*"
lockfile = "*"
cachecontrol = {extras = ["filecache"], version = "*"}

[dev-packages]
pytest = "*"
coverage = "*"
requests-mock = "*"
pytest-flake8 = "*"

[requires]
python_version = "3.8"
